
body {
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbotron {
	text-align: center;
	height: 100%;

}

.answer {
	background-color: peachpuff;
	border: solid, silver;

}

